@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Charles{
  position: absolute;
  left: 0;
  width: 35vw;
  height: 100%;
  background-color: seagreen;
  border-right-color: green;
  border-right: 1px solid;
  display: inline-flex;
  flex-direction: column;
}

#userPic{
  margin-top: 2vh;
  height: 20vh;
  background-color: white;
  border-radius: 70px;
  width: 10vw;
  align-self: center;
}

#mainButtons{
  display: flex;
  height: 50vh;
  margin-top: 10vh;
}


#bottomButtons{
  display: flex;
  height: 25vh;
}

li{
  font-family: 'Luckiest Guy', cursive;;
list-style: none;
color: white;
font-size: 10vh;
margin-bottom: 3vh;
}

li:hover{
  font-family: 'Luckiest Guy', cursive;;
list-style: none;
color: black;
font-size: 10vh;
margin-bottom: 2vh;

}

@media only screen and(max-width: 600px){
  li{
    font-family: 'Luckiest Guy', cursive;;
  list-style: none;
  color: white;
  font-size: 2vh;
  margin-bottom: 3vh;
  }

  #mainButtons{
    display: flex;
    height: 50vh;
    margin-top: 10vh;
    margin-right: 20vw;
  }
}

#splashBody{
  background-image: url("./images/backgroundPic-ConvertImage.jpg");
  opacity: 70%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#logo{
  width: 20vw;
  height: 15vh;
  display: inline-flex;
margin-left: 5vw;  
background-image: url("./images/3323d1d8-aeee-41e8-ae33-b2e7630ff7aa_200x200.png");
background-size: 50%;
background-position: 100%;
background-repeat: no-repeat;
margin: 0 auto;
padding-top: 20px;
}

#navItems{
  margin-left: 35vw;  
  width: 30vw;
height: 15vh;
display: inline-flex;
font-size: small;
display: inline-flex;
flex-direction: row;
}

#centerText{
  display: flex;
  height: 20vh;
  width: 60vw;
  font-family: 'Permanent Marker', cursive;
text-align: center;
margin: 0 auto;
font-size: xx-large;
margin-top: 20px;;
color: white;
}

#signInButton{
  height:6vh;
  width: 15vw;
  background-color: green;
  border-radius: 10px;
  display: flex;
 margin: 0 auto;
 margin-top: 200px;
 color: white;
 align-items: center;
 font-size: large;
 padding-left: 50px;
 font-family: 'Permanent Marker', cursive;
}

#emphasis{
  color: darkgreen;
}

#arrow{
  margin-left: 20px;
  background-color: darkgreen;
  border-radius: 15px;
  width: 1.1rem;
}
